<a href="https://colab.research.google.com/github/Qubayl90/Coding_temple_Pre_work_Workshops/blob/main/Prework_Coding_Question.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Question 1
Write a function to print "hello_USERNAME!" USERNAME is the input of the function. The first line of the code has been defined as below.

In [ ]:
def hello_name(user_name):
  print("hello_"+user_name)
hello_name("FirstUser")

hello_FirstUser

Question 2
Write a python function, first_odds that prints the odd numbers from 1-100 and returns nothing

In [ ]:
def first_odds():
  for i in range(100):
    if(i%2 == 1):
      print(i, end=" ")
first_odds()

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

Question 3
Please write a Python function, max_num_in_list to return the max number of a given list. The first line of the code has been defined as below.

In [ ]:
def max_num_in_list(a_list):
  return(max(a_list))
list1 = [23,52,35,20,44,36,12]

print(max_num_in_list(list1))

52

Question 4
Write a function to return if the given year is a leap year. A leap year is divisible by 4, but not divisible by 100, unless it is also divisible by 400. The return should be boolean Type (true/false).

In [ ]:
def is_leap_year(a_year):
  if(a_year%4 == 0 and (a_year%100 !=0 or a_year%400 == 0)):
    return True
  else:
    return False

print(is_leap_year(1600))

True

Question 5
Write a function to check to see if all numbers in list are consecutive numbers. For example, [2,3,4,5,6,7] are consecutive numbers, but [1,2,4,5] are not consecutive numbers. The return should be boolean Type

In [ ]:
def is_consecutive(a_list):
  for i in range(0, len(a_list)-1):
    if(a_list[i+1] != a_list[i]+1):
      return False
  return True
list1 = [2,3,4,5,6,7]
print(is_consecutive(list1))
list2 = [1,2,4,5,6,7]
print(is_consecutive(list2))

True
False